<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tea Break</title>
  <link rel="icon" href="../assets/images/Anna.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: 'Montserrat', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Playfair Display', serif;
    }

    #mobile-menu {
      transition: transform 0.3s ease-in-out;
    }

    #mobile-menu.hidden {
      transform: translateY(-100%);
    }

    #mobile-menu.is-active {
      transform: translateY(0);
    }
  </style>

<body class="bg-gray-100 font-montserrat">

    <header class="sticky top-0 bg-white shadow py-4 relative z-10">
        <div class="container mx-auto px-8 mt-2 mb-2">
            <nav class="flex items-center justify-between">
    
                <div>
                    <a href="../html/index.html">
                        <img src="../assets/images/logo.png" alt="Логотип" class="h-4">
                    </a>
                </div>
    
                <!-- Централизованное меню (скрыто на мобильных) -->
                <div class="absolute left-1/2 transform -translate-x-1/2 hidden md:flex items-center justify-center">
                  <div class="flex items-center space-x-4">
                    <a href="../html/catalog.html" class="text-black hover:text-gray-700">Каталог</a>
                    <a href="../html/news.html" class="text-black hover:text-gray-700">Новости</a>
                    <a href="../html/about2.html" class="text-black hover:text-gray-700">О нас</a>
                    <a href="../html/contacts.html" class="text-black hover:text-gray-700">Контакты</a>
                  </div>
                </div>
    
                <!-- Иконки, скрытые на мобильных устройствах -->
                <div class="hidden md:flex items-center space-x-5">
                    <a href="../html/basket.html" class="text-black text-2xl hover:text-gray-700"><i class="fas fa-shopping-cart"></i></a>
                    <a href="../html/account.html" class="text-black text-2xl hover:text-gray-700"><i class="fas fa-user"></i></a>
                </div>
    
                <!-- Кнопка меню (отображается только на мобильных) -->
                <button id="menu-toggle" class="md:hidden text-black focus:outline-none relative ">
                    <i class="fas fa-bars"></i>
                </button>
    
            </nav>
        </div>
    
        <!-- Мобильное меню (изначально скрыто) -->
        <div id="mobile-menu" class="md:hidden bg-white py-2 px-8 transform translate-y-[-100%] transition-transform duration-300 ease-in-out absolute top-full left-0 w-full z-10">
            <div class="flex flex-col items-center space-y-2">
                <a href="../html/catalog.html" class="text-black hover:text-gray-700">Каталог</a>
                <a href="../html/news.html" class="text-black hover:text-gray-700">Новости</a>
                <a href="../html/about2.html" class="text-black hover:text-gray-700">О нас</a>
                <a href="../html/contacts.html" class="text-black hover:text-gray-700">Контакты</a>
    
                <!-- Иконки в мобильном меню -->
                <div class="flex items-center space-x-4 mt-2">
                  <a href="../html/basket.html" class="text-black text-2xl hover:text-gray-700"><i class="fas fa-shopping-cart"></i></a>
                  <a href="../html/account.html" class="text-black text-2xl hover:text-gray-700"><i class="fas fa-user"></i></a>
                </div>
            </div>
        </div>
    
    </header>

      <div class="container mx-auto px-4 p-4">  
        <div class="w-full p-4 flex items-center justify-between">
          <a href="admin.html"
             class="inline-flex items-center px-4 py-2 bg-green-700 hover:bg-green-800 text-white rounded-md transition-colors duration-300">
              <svg class="-ml-1 mr-2 h-5 w-5 text-white"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
              </svg>
              В админ-панель
          </a>
            <h1 class="text-3xl font-semibold">Редактирование товара</h1> 
  </div>
    </div>

    <main class="container mx-auto px-8 ">
    <!-- Блок товара -->
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        
    <div class="bg-white shadow-md rounded-lg p-8">
        <form>

            <!-- Изображение товара -->
            <div class="mb-4">
                <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Изображение товара:</label>
                <input type="file" id="image" name="image" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Название товара -->
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Название товара:</label>
                <input type="text" id="name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Введите название товара">
            </div>

            <!-- Описание товара -->
            <div class="mb-4">
                <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Описание товара:</label>
                <textarea id="description" name="description" rows="4" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Введите описание товара"></textarea>
            </div>

            <!-- Как хранить -->
            <div class="mb-4">
                <label for="storage" class="block text-gray-700 text-sm font-bold mb-2">Как хранить:</label>
                <textarea id="storage" name="storage" rows="2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Введите условия хранения"></textarea>
            </div>

            <!-- Тип чая -->
            <div class="mb-4">
                <label for="tea_type" class="block text-gray-700 text-sm font-bold mb-2">Тип чая:</label>
                <select id="tea_type" name="tea_type" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="green">Зеленый</option>
                    <option value="black">Черный</option>
                    <option value="white">Белый</option>
                    <option value="herbal">Травяной</option>
                </select>
            </div>

            <!-- Регион происхождения -->
            <div class="mb-4">
                <label for="origin" class="block text-gray-700 text-sm font-bold mb-2">Регион происхождения:</label>
                <select id="origin" name="origin" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-noneselect>
                    <option value="china">Китай</option>
                    <option value="india">Индия</option>
                    <option value="japan">Япония</option>
                    <option value="taiwan">Тайвань</option>
                </select>
            </div>

            <!-- Сорт -->
            <div class="mb-4">
                <label for="sort" class="block text-gray-700 text-sm font-bold mb-2">Сорт:</label>
                <input type="text" id="sort" name="sort" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Введите сорт чая">
            </div>

            <!-- Степень ферментации -->
            <div class="mb-4">
                <label for="fermentation" class="block text-gray-700 text-sm font-bold mb-2">Степень ферментации:</label>
                <select id="fermentation" name="fermentation" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="none">Нет</option>
                    <option value="low">Низкая</option>
                    <option value="medium">Средняя</option>
                    <option value="high">Высокая</option>
                </select>
            </div>

            <!-- Цена -->
            <div class="mb-4">
                <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Цена:</label>
                <input type="number" id="price" name="price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Введите цену товара">
            </div>


            <div class="flex items-center justify-between">
                <button class="inline-block bg-green-700 hover:bg-green-800 text-center text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors duration-200" type="submit">
                    Сохранить изменения
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                    Удалить товар
                </button>
            </div>
        </form>
    </div>
    </div>
    </main>
  
  <footer class="bg-white py-6 mt-12 border-t border-gray-200 font-montserrat relative">
    <div class="container mx-auto px-8 flex flex-col md:flex-row justify-between items-center text-center md:text-left">
  
      <!-- Левая сторона: Копирайт и Политика -->
      <div class="text-black text-sm mb-4 md:mb-0">
        &copy; 2025 Все права защищены<br>
        <a href="#" class="hover:underline">Политика конфиденциальности</a>
      </div>
  
      <!-- Центр: Контактная информация (адаптивное позиционирование) -->
      <div class="text-black text-sm text-center md:absolute md:left-1/2 md:transform md:-translate-x-1/2 mt-4 md:mt-0">
        +7 999 999-99-99,<br>
        <a href="mailto:OnlyGames228@gmail.com" class="hover:underline">OnlyGames228@gmail.com</a>
      </div>
  
      <!-- Правая сторона: Социальные сети -->
      <div class="flex items-center space-x-4 mt-4 md:mt-0">
        <a href="#" class="text-gray-500 hover:text-gray-700">
          <img src="../assets/images/Instagram.png" alt="Instagram" class="h-9">
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-700">
          <img src="../assets/images/Telegram.png" alt="Telegram" class="h-8">
        </a>
      </div>
    </div>
  </footer>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    // Изначально скрываем меню
    mobileMenu.classList.add('hidden');

    menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden'); // Скрываем/Показываем меню
        mobileMenu.classList.toggle('is-active'); // Запускаем анимацию
    });
</script>
  
</body>
</html>